/08. archivos indexados/3.04.md
/08. archivos indexados/3.05*
/09. arreglos/3.14.md
/09. arreglos/3.18.md
/09. arreglos/3.24.md
/09. arreglos/3.27.md
/10. listas/4.15.md
/modelos de parcial/3er parcial
